flask
flask-cors
requests
pytz
nba_api
arch
functions-framework
firebase-admin
openai
gunicorn
pdfplumber
pandas>=1.5.0
Werkzeug<2.1.0
Flask<2.3.0
google-cloud-firestore
scikit-learn
lightgbm
catboost
joblib
numpy
scipy